/*
 * Empty Stylesheet file.
 */

    #boton_aceptar{
        -fx-backGround-color: lightgreen;
        -fx-text-fill: black;
        -fx-border-color: limegreen;
    }
    #boton_Cancelar{
        -fx-backGround-color: white;
        -fx-text-fill: black;
        -fx-border-color: black;

    }
    

