/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    .aceptarButton{
        -fx-backGround-color: #ffffff;
        -fx-text-fill: black;
    }
    
    .estiloLetra{
        -fx-font-family: "Helvetica";
    }
    
}
