
#titulo{
    -fx-font-family: sans-serif;
    -fx-font-size: 250%;
    -fx-font-weight: bold;
    -fx-fill: green; /*verde militar*/
}

/*botones aceptar y cancelar diseño*/
#boton_aceptar{
    -fx-background-color: #ccffcc;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-background-radius: 30%;
    -fx-font-family: sans-serif;
}
#boton_Cancelar{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-background-radius: 30%;
    -fx-font-family: sans-serif;
}
    
#nom{
    -fx-font-family: sans-serif;
}
#fec{
    -fx-font-family: sans-serif;
}
#un{
    -fx-font-family: sans-serif;
}
#pre{
    -fx-font-family: sans-serif;
}
#ca{
    -fx-font-family: sans-serif;
}
#des{
    -fx-font-family: sans-serif;
}
#ti{
    -fx-font-family: sans-serif;
}
#categorias_boton{
    -fx-background-color: white;
    -fx-font-family: sans-serif;
}
