/*
 * Empty Stylesheet file.
 */
#impresora{
    -fx-background-color: #33cc00;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 20%;    
    
}

#bAyuda{
    -fx-padding: 10;            /* Espaciado interno */
    -fx-border-radius: 60;     /* Hace que los bordes sean redondos */
    -fx-background-radius: 60; /* Hace que el fondo sea redondo */
    -fx-alignment: center;      /* Centra el contenido del botón */
    -fx-background-color: white;
    -fx-border-color: black;
}

#bAjustes{
    -fx-padding: 10;            /* Espaciado interno */
    -fx-border-radius: 60;     /* Hace que los bordes sean redondos */
    -fx-background-radius: 60; /* Hace que el fondo sea redondo */
    -fx-alignment: center;      /* Centra el contenido del botón */
    -fx-background-color: white;
}


#toolbar{
    -fx-background-color: #ccffcc80;
}

#nombre{
    -fx-border-color: green;
    -fx-font-family: sans-serif;
}
#categoria{
    -fx-border-color: green;
    -fx-font-family: sans-serif;


}
#fecha{
    -fx-border-color: green;
    -fx-font-family: sans-serif;

}
#unidades{
    -fx-border-color: green;
    -fx-font-family: sans-serif;

}
#precio{
    -fx-border-color: green;
        -fx-font-family: sans-serif;

}
#descripcion{
    -fx-border-color: green;
        -fx-font-family: sans-serif;

}
#tiquet{
    -fx-border-color: green;
    -fx-font-family: sans-serif;
}

#splitpane{
    -fx-background-color: black;
}

.menu-button{
    -fx-font-family: sans-serif;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 30%;
    -fx-font-family: sans-serif;
}

#boton_resumenGastos{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 30%;
    -fx-font-family: sans-serif;
}
#boton_gastos{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 30%;
    -fx-font-family: sans-serif;
}
#comparar_boton{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 30%;
    -fx-font-family: sans-serif;
}
#eliminar_boton{
    -fx-background-color: #33cc00;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 20%;
    -fx-font-family: sans-serif;
}
#modificar_boton{
    -fx-background-color: #33cc00;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 20%;
    -fx-font-family: sans-serif;
}
.context-menu .menu-item {
    -fx-background-color: white;
    -fx-text-fill: black;
}
.context-menu .menu-item:hover {
    -fx-background-color: #ccffcc;
    -fx-text-fill: black;
}
.menu-button .label {
    -fx-text-fill: black;          /* Asegurar que el texto sea negro */
}

.table-view .column-header {
    -fx-background-color: #ccffcc;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
