/*
 * Empty Stylesheet file.
 */

#bAyuda{
    -fx-padding: 10;            /* Espaciado interno */
    -fx-border-radius: 60;     /* Hace que los bordes sean redondos */
    -fx-background-radius: 60; /* Hace que el fondo sea redondo */
    -fx-alignment: center;      /* Centra el contenido del botón */
    -fx-background-color: white;

}

#bAjustes{
    -fx-padding: 10;            /* Espaciado interno */
    -fx-border-radius: 60;     /* Hace que los bordes sean redondos */
    -fx-background-radius: 60; /* Hace que el fondo sea redondo */
    -fx-alignment: center;      /* Centra el contenido del botón */
    -fx-background-color: white;
}
#bSalir{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 30%;
    -fx-font-family: sans-serif;
}

#toolbar{
    -fx-background-color: #ccffcc;

}

#bordeSuperior{
    -fx-background-color: #ccffcc;
}
#nombre{
    -fx-background-color: #ffffff;
    -fx-border-color: green;
    -fx-font-family: sans-serif;
}
#categoria{
    -fx-background-color: #ffffff;
    -fx-border-color: green;
    -fx-font-family: sans-serif;


}
#fecha{
    -fx-background-color: #ffffff;
    -fx-border-color: green;
    -fx-font-family: sans-serif;

}
#unidades{
    -fx-background-color: #ffffff;
    -fx-border-color: green;
    -fx-font-family: sans-serif;

}
#precio{
    -fx-background-color: #ffffff;
    -fx-border-color: green;
        -fx-font-family: sans-serif;

}
#descripcion{
    -fx-background-color: #ffffff;
    -fx-border-color: green;
        -fx-font-family: sans-serif;

}
#tiquet{
    -fx-background-color: #ffffff;
    -fx-border-color: green;
        -fx-font-family: sans-serif;

}

.TableColumn{
    -fx-background-color: #ffffff;
    -fx-border-color: green;
        -fx-font-family: sans-serif;
}

#splitpane{
    -fx-background-color: black;
}

#botonCrear{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 30%;
    -fx-font-family: sans-serif;
}

#boton_resumenGastos{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 30%;
    -fx-font-family: sans-serif;
}
#boton_gastos{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 30%;
    -fx-font-family: sans-serif;
}
#comparar_boton{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 30%;
    -fx-font-family: sans-serif;
}

