/*
 * Empty Stylesheet file.
 */


    #titulo{
        -fx-font-family: sans-serif;
        -fx-font-size: 250%;
        -fx-font-weight: bold;
        -fx-fill: green; /*verde militar*/
    }
    #boton_aceptar{
         -fx-font-family: sans-serif;
        -fx-background-color: #ccffcc;
        -fx-text-fill: black;
        -fx-border-color: black;
        -fx-border-radius: 8;
        -fx-background-radius: 30%;
}
    #boton_cancelar{
        -fx-font-family: sans-serif;
        -fx-background-color: white;
        -fx-text-fill: black;
        -fx-border-color: black;
        -fx-border-radius: 8;
        -fx-background-radius: 30%;
}
#nombre{
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;

}
#desc{
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}
