/*
 * Empty Stylesheet file.
 */

#titulo{
    -fx-font-family: sans-serif;
    -fx-font-size: 250%;
    -fx-font-weight: bold;
    -fx-text-fill: green; 
}
#button_login{
    -fx-font-family: sans-serif;
    -fx-background-color: #ccffcc;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-background-radius: 30%;
}
#button_cancel{
    -fx-font-family: sans-serif;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-background-radius: 30%;
}

.label{
   -fx-font-family: sans-serif; 
   -fx-text-fill: black;
   -fx-font-weight: bold;
   
}
.hyperlink{
   -fx-font-family: sans-serif; 
}