/*
 * Empty Stylesheet file.
 */

/*.mainFxmlClass {
     css.border-pane {
       -fx-background-image: url("@../../images/foto_perfil.jpg");
       -fx-background-size: cover;
       -fx-background-position: center center;
   }

}*/

#ayuda{
    -fx-font-family: sans-serif;
}
#nick{
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;

}
#cont{   
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;

}
#botonAceptar{
    -fx-background-color: #ccffcc;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-background-radius: 30%;
    -fx-font-family: sans-serif;

}
#botonSalir{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-background-radius: 30%;
    -fx-font-family: sans-serif;

}
.hiperlink{
    -fx-font-family: sans-serif;
}

.split-pane{
    -fx-background-color:  #99e89d;
}