
/*titulo en negrita*/
#titulo{
    -fx-font-family: "montserrat";
    -fx-font-size: 250%;
    -fx-font-weight: bold;
    -fx-text-fill: green; /*verde militar*/
}

/*titulos campos donde introducir datos en negrita*/
#nickname{
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

#nom{
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

#apell{
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

#ema{
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

#fotolabel{
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

#centro{}

/*colores botones guardar y cancelar*/
#guardar{
    -fx-background-color: #ccffcc;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-background-radius: 30%;
}

#cancelar{
    -fx-background-color: #ffcccc;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-background-radius: 30%;

}